# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui

list_anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

list_ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

        

series_anomalia = pd.Series(data = list_anomalia_termica)
print(series_anomalia)


series_ano = pd.Series(data = list_ano)
print(series_ano)


series_junto = pd.Series(data = list_anomalia_termica, index = list_ano)
print(series_junto)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64
0    1900
1    1920
2    1940
3    1960
4    1980
5    2000
6    2020
dtype: int64
1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:

# seu código aqui

series_junto = pd.Series(data = list_anomalia_termica, index = list_ano)
print(series_junto)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

series_temperaturas = pd.Series(dic_temperaturas)
series_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

dt_arr = pd.DataFrame(arr)
dt_arr

             0           1           2
0   111.863607   70.416408   94.475747
1   112.403727  102.500934   87.033785
2   110.647290   96.052268   98.829095
3    78.903491   92.516712  105.948339
4   114.756107  106.340973  100.604581
5    99.879041   87.810765  104.044122
6    81.807416   85.911981  106.504627
7    88.561853   94.593390  118.907164
8   107.654977   92.798415   90.920401
9    91.575567  107.724971  107.495705
10  104.351533  116.506276  108.046621
11   95.167986  110.629552   93.522414
12   89.177577   79.834586  105.503410
13   96.284075   75.336093   96.695888
14  110.519277   94.625841  111.592840
15  116.717071   98.876075   97.931685
16  112.329900   94.004957   91.419808
17  102.143028   93.409158  114.393760
18  113.227146   98.162067   87.721008
19  105.762998   99.212349   94.513141

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [5]:
#seu código aqui

list_index = list(range(1,len(dt_arr)+1))
list_index = list(map(lambda num: 'x'+str(num), list_index))

dt_arrcomindice = pd.DataFrame(data = arr, index = list_index)
dt_arrcomindice

              0           1           2
x1   111.863607   70.416408   94.475747
x2   112.403727  102.500934   87.033785
x3   110.647290   96.052268   98.829095
x4    78.903491   92.516712  105.948339
x5   114.756107  106.340973  100.604581
x6    99.879041   87.810765  104.044122
x7    81.807416   85.911981  106.504627
x8    88.561853   94.593390  118.907164
x9   107.654977   92.798415   90.920401
x10   91.575567  107.724971  107.495705
x11  104.351533  116.506276  108.046621
x12   95.167986  110.629552   93.522414
x13   89.177577   79.834586  105.503410
x14   96.284075   75.336093   96.695888
x15  110.519277   94.625841  111.592840
x16  116.717071   98.876075   97.931685
x17  112.329900   94.004957   91.419808
x18  102.143028   93.409158  114.393760
x19  113.227146   98.162067   87.721008
x20  105.762998   99.212349   94.513141

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [6]:
# seu código aqui

dt_arrcomindice['media'] = dt_arrcomindice.mean(axis = 1)
dt_arrcomindice

              0           1           2       media
x1   111.863607   70.416408   94.475747   92.251921
x2   112.403727  102.500934   87.033785  100.646149
x3   110.647290   96.052268   98.829095  101.842884
x4    78.903491   92.516712  105.948339   92.456181
x5   114.756107  106.340973  100.604581  107.233887
x6    99.879041   87.810765  104.044122   97.244643
x7    81.807416   85.911981  106.504627   91.408008
x8    88.561853   94.593390  118.907164  100.687469
x9   107.654977   92.798415   90.920401   97.124598
x10   91.575567  107.724971  107.495705  102.265414
x11  104.351533  116.506276  108.046621  109.634810
x12   95.167986  110.629552   93.522414   99.773317
x13   89.177577   79.834586  105.503410   91.505191
x14   96.284075   75.336093   96.695888   89.438685
x15  110.519277   94.625841  111.592840  105.579319
x16  116.717071   98.876075   97.931685  104.508277
x17  112.329900   94.004957   91.419808   99.251555
x18  102.143028   93.409158  114.393760  103.315315
x19  113.227146   98.162067   87.721008   99.703407
x20  105.762998   99.212349   94.513141   99.829496

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [7]:
# seu código aqui


dt_arrcomindice['log_med'] = np.log(dt_arrcomindice['media'])
dt_arrcomindice

              0           1           2       media   log_med
x1   111.863607   70.416408   94.475747   92.251921  4.524523
x2   112.403727  102.500934   87.033785  100.646149  4.611611
x3   110.647290   96.052268   98.829095  101.842884  4.623431
x4    78.903491   92.516712  105.948339   92.456181  4.526735
x5   114.756107  106.340973  100.604581  107.233887  4.675012
x6    99.879041   87.810765  104.044122   97.244643  4.577230
x7    81.807416   85.911981  106.504627   91.408008  4.515333
x8    88.561853   94.593390  118.907164  100.687469  4.612021
x9   107.654977   92.798415   90.920401   97.124598  4.575995
x10   91.575567  107.724971  107.495705  102.265414  4.627572
x11  104.351533  116.506276  108.046621  109.634810  4.697155
x12   95.167986  110.629552   93.522414   99.773317  4.602901
x13   89.177577   79.834586  105.503410   91.505191  4.516396
x14   96.284075   75.336093   96.695888   89.438685  4.493553
x15  110.519277   94.625841  111.592840  105.579319  4.659463
x16  116.717071   98.876075   97.931685  104.508277  4.649266
x17  112.329900   94.004957   91.419808   99.251555  4.597658
x18  102.143028   93.409158  114.393760  103.315315  4.637786
x19  113.227146   98.162067   87.721008   99.703407  4.602200
x20  105.762998   99.212349   94.513141   99.829496  4.603464